<% provide :title, t("help.title") %>

<h1><%= t("help.title") %></h1>
<p>
  <%= t("help.paragraph_html",
        link_1: link_to(t("help.link_1"), "http://www.railstutorial.org/help"),
        link_2: link_to(t("help.link_2").html_safe, "http://www.railstutorial.org/book")
      ).html_safe %>
</p>
